* {
    background-color: aqua;
}

.pages {
    font-size: 18;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 25px;
}

.heading {
    color: yellow;
    text-align: center;
}

p {
    display: inline;
}